build/*
!build/.gitkeep
/.idea
/.vscode

*.exe
.cache
release/ffmpeg/linux/*
release/ffmpeg/windows/*
release/ffmpeg/macos/*
!release/ffmpeg/linux/.gitkeep
!release/ffmpeg/windows/.gitkeep
!release/ffmpeg/macos/.gitkeep
release/gostream*
release/music/*
!release/music/.gitkeep